.text-newAmsterdam{
    color: var(--text-color);
    font-family: newAmsterdam, sans-serif;
    font-size: 24px;
}

.text-jetbrainsMono{
    color: var(--text-color);
    font-family: jetbrainsMonoNerdFont, sans-serif;
    font-size: 16px;
}

.text-inter{
    color: var(--text-color);
    font-family: inter, sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: newAmsterdam;
    font-style: normal;
    font-display: block;
    src: url(../assets/fonts/NewAmsterdam-Regular.ttf);
}

@font-face {
    font-family: jetbrainsMonoNerdFont;
    font-style: normal;
    font-display: block;
    src: url(../assets/fonts/JetBrainsMonoNerdFont-Regular.ttf);
}

@font-face {
    font-family: 'Fraunces';
    src: url('./fonts/Fraunces_72pt_Soft-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'New Amsterdam';
    src: url('./fonts/NewAmsterdam-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    src: url('./fonts/DMSans-regular.ttf') format('truetype');
}

body {
    font-family: 'Fraunces', sans-serif;
    margin: 0;
    padding: 0;
}