DB_PASS=
DB_NAME=
DB_USER=
DB_USER_PASSWORD=
DB_URL=

NAME_BACKEND=
PORT_BACKEND=

TZ: Europe/Amsterdam
MYSQL_ROOT_PASSWORD: DB_PASS
MYSQL_DATABASE: DB_NAME
MYSQL_USER: DB_USER
MYSQL_PASSWORD: DB_USER_PASSWORD